html, body {
  margin: 0;
  box-sizing: border-box;
  background: #f4f6f8;
  font-family: $ff;
  color: $mfcolor;
  }

  p {
    margin: 0;
  }

.container {
  width: 1200px;
  margin: 10px auto;
}

