// можно задавать переменные и если понадобиться изменить шрифт во всём документе, то его можно будет быстро изменить в переменной
// так же можно к разным переменным присвоить значения разных шрифтов (цветов) и присваивать их в нужные места
$fz : 14px;
$ff : Verdana, sans-serif;
$col : red;
$w : 600px;